<%= @noticeDoNotUseReactState %>
<%= standard_imports({
'React'=>'',
'pure'=>'',
'compose'=>'',
'lifecycle'=>'',
'withProps'=>'',
'inject'=>'',
'Link'=>'',
'withStyles'=>'',
'IconButton'=>'',
'DeleteIcon'=>'',
'EditIcon'=>'',
'CircularProgress'=>'',
'InfoIcon'=>'',

# 'observer'=>'',
# 'Observer'=>'',
# 'withApollo'=>'',
}) %>
<%
importData = []
# importData <<  {module: "queries/#{@fD}/#{@UdP}/#{@cS}ForEditingQuery", import_modules: "with#{@CS}ForEditing"}
importData <<  {module: "queries/user/currentUserQuery", import_modules: 'withCurrentUser'}
importData <<  {module: "semantic-ui-react/dist/commonjs/modules/Dropdown", import_modules: 'Dropdown'}
%>
<%= import_modules_function(importData).join("\n") %>
// import moment from 'moment';
const styles = () => ({
  badge: {
    margin: '0 0',
    height: 17,
  },
});

class <%= @CS %>Actions extends React.Component {
  render() {
    const { <%= @cS %>Row, currentUser, variables, classes } = this.props;

    return (
      <>
<%- if !@general_client_page_no_preview_generate -%>
        <Dropdown.Item key='Preview'>
          <Link to={`/<%= @dP %>/${<%= @cS %>Row.id}`} key="preview">
              <IconButton className={classes.badge} title="Preview"><InfoIcon /></IconButton>
          </Link>
        </Dropdown>
<%- end -%>
        {currentUser
          ? [

          ]
          : null}
      </>
    );
  }
}

export default compose(
  inject('router'),
  inject('NotificationStore'),
  withCurrentUser,
  withStyles(styles)
)(<%= @CS %>Actions);