<%= @noticeDoNotUseReactState %>
<%= standard_imports({
'React'=>'',
'pure'=>'',
'compose'=>'',
'lifecycle'=>'',
'withProps'=>'',
'inject'=>'',
'Link'=>'',
'withStyles'=>'',
'IconButton'=>'',
'DeleteIcon'=>'',
'EditIcon'=>'',
'CircularProgress'=>'',
# 'observer'=>'',
# 'Observer'=>'',
# 'withApollo'=>'',
}) %>
<%
importData = []
# importData <<  {module: "queries/#{@fD}/#{@UdP}/#{@cS}ForEditingQuery", import_modules: "with#{@CS}ForEditing"}
if !@general_mutation_no_delete_generate
  importData <<  {module: "mutations/#{@fD}/#{@UdP}/destroy#{@CS}Mutation", import_modules: "withDestroy#{@CS}"}
end
importData <<  {module: "queries/user/currentUserQuery", import_modules: 'withCurrentUser'}
importData <<  {module: "utils/errorsUtils", import_modules: 'formatErrors'}
%>
<%= import_modules_function(importData).join("\n") %>
// import moment from 'moment';
const styles = () => ({
  badge: {
    margin: '0 0',
    height: 17,
  },
});

class <%= @CS %>Actions extends React.Component {
<%- if !@general_mutation_no_delete_generate -%>
  destroy = () => {
    if (window.confirm('Are you sure ?')) {
      this.props.destroy<%= @CS %>(this.props.<%= @cS %>Row.id, this.props.variables).then(response => {
        const messages = response.errors || formatErrors(response.data.destroy<%= @CS %>.messages);
        if (!messages) {
          this.props.NotificationStore.notice('<%= @CS %> was successfully destroyed');
        } else {
          this.props.NotificationStore.error(messages.base);
        }
      });
    }
    return false;
  }
<%- end -%>

  render() {
    const { <%= @cS %>Row, currentUser, variables, classes } = this.props;

    return (
      <div style={{ display: 'flex' }}>
        {/* {moment(new Date(<%= @cS %>.created_at)).fromNow()} */}
        {currentUser
          ? [
<%- if !@general_mutation_no_update_generate -%>
            <Link to={`/<%= @dP %>/${<%= @cS %>Row.id}/edit`} key="edit">
              <IconButton className={classes.badge} title="Edit"><EditIcon /></IconButton>
            </Link>,
<%- end -%>
<%- if !@general_mutation_no_delete_generate -%>
            <IconButton  color="secondary" className={classes.badge} title="Delete" onClick={this.destroy} key="delete"><DeleteIcon /></IconButton>,
<%- end -%>
          ]
          : null}
      </div>
    );
  }
}

export default compose(
  inject('router'),
  inject('NotificationStore'),
<%- if !@general_mutation_no_delete_generate -%>
  withDestroy<%= @CS %>,
<%- end -%>
  withCurrentUser,
  withStyles(styles)
)(<%= @CS %>Actions);