<%= @noticeDoNotUseReactState %>
<%= standard_imports({
'React'=>'',
'pure'=>'',
'compose'=>'',
'lifecycle'=>'',
'withProps'=>'',
'inject'=>'',
'Link'=>'',
'withStyles'=>'',
'Button'=>'',
'AddIcon'=>'',
'CircularProgress'=>'',
}) %>
<%
importData = []
importData <<  {module: "./_Search#{@CS}Form", import_modules: "Search#{@CS}Form"}
importData <<  {module: "queries/user/currentUserQuery", import_modules: 'withCurrentUser'}
%>
<%= import_modules_function(importData).join("\n") %>

const styles = (theme) => ({
  button: {
    margin: theme.spacing.unit,
  },
});

const List<%= @CP %>Pure = ({ keywords, searchLoading, currentUser, classes }) => {
  return (
    <div>
      <div>
        <Search<%= @CS %>Form initialKeywords={keywords} loading={searchLoading} />
      </div>
<%- if !@general_client_page_no_create_generate -%>
      {currentUser ? (
        <div>
          <Link to="/<%= @dP %>/new">
            <Button variant="fab" color="primary" aria-label="add" className={classes.button}><AddIcon /></Button>
          </Link>
        </div>
      ) : null}
<%- end -%>
    </div>
  );
}

export default compose(
  inject('router'),
  withCurrentUser,
  withStyles(styles)
)(List<%= @CP %>Pure);