<% instance_eval(File.open(File.expand_path("../../../commonForm.rb",File.dirname(__FILE__))).read) -%>
<%= @noticeDoNotUseReactState %>
<%
# Must Run Furst to get   @v1 @v2 @v3
query_variables() -%>
<%= standard_imports({
'React'=>'',

# 'pure'=>'',
# 'compose'=>'',
# 'lifecycle'=>'',
# 'withProps'=>'',
# 'inject'=>'',
'observable'=>'',
'computed'=>'',
'action'=>'',
'extendObservable'=>'',
'runInAction'=>'',
'Numeral'=>'',
'withStyles'=>'',
'observer'=>'',
'Observer'=>'',
'PrimeButton'=>'',
'CircularProgress'=>'',
'moment'=>'',
'classnames'=>'',
'PrimePickList'=>'',
'PrimeTabPanel'=>'',
'PrimeOverlayPanel'=>'',
}) %>
<%
importData = []
import_list_table(@yamlConfig[@name], importData, TABLE_TYPE)
importData <<  {module: 'views/elements/taco_table_renderers', import_modules: ['tacoIdRenderer','tacoIntegerRenderer','tacoDecimalRenderer','tacoBooleanRenderer','tacoDateRenderer','tacoTdStyle']}
importData <<  {module: 'components/views/table/ReactTable/ReactTablePivot', import_modules: 'ReactTablePivot'}
importData <<  {module: "./_#{@CS}Actions", import_modules: "#{@CS}Actions"}
importData <<  {module: "./_#{@CS}Actions2", import_modules: "#{@CS}Actions2"}
importData <<  {module: "components/views/SemanticUI/Dropdown", import_modules: 'Dropdown'}
%>
<%= import_modules_function(importData).join("\n") %>
<%= "import { LiveProvider, LiveEditor, LiveError, LivePreview } from 'react-live';" if @reactLiveDebugger%>
<%= @importsBlockA.join() %>
@observer
class List<%= @CP %> extends React.Component {

  // ensure your columns are in controlled state
  @observable variables = {<%= @v3 %>};
  @observable source = [];
  @observable target = [];


  componentDidMount() {
  // Use Mobx Store instead of React State, because React State is async, causing bugs.
  let viewCoumnWidths = <%=  (@yamlConfig[@name]['viewCoumnWidths'] || {}).to_json %>;
<%= @settingsBlockA.join() %>
<%= if TABLE_TYPE == 'react_table'
  """
  """
  elsif TABLE_TYPE == 'taco_table'
  """
  const tacoActionsRenderer = (cellData, { column, rowData }) => <#{@CS}Actions #{@cS}Row={rowData} currentUser={this.props.currentUser} variables={this.variables} />;
  const tacoActionsRenderer2 = (cellData, { column, rowData }) => <Dropdown ><#{@CS}Actions2 #{@cS}Row={rowData} currentUser={this.props.currentUser} variables={this.variables}/></Dropdown>;
  """
  end
  %>
  const target1 = [
    // @formatter:off
<%= main_view_list_generate(@yamlConfig[@name], '', 'target').join("\n") %>
    // @formatter:on
    ]
  const source1 = [
<%= main_view_list_generate(@yamlConfig[@name], '', 'source').join("\n") %>
    ]
    this.source = source1
    this.target = target1
  }

  onChange = (event) => {
    this.source = event.source;
    this.target = event.target;
  }

  columnTemplate = (row) => {
    return (
      <div className="ui-helper-clearfix">
        <div style={{ fontSize: '14px', float: 'right', margin: '15px 5px 0 0' }}>{row.Header}</div>
      </div>
    );
  }
  onClick = (event) => {
      this.op.toggle(event);
  }

  render() {
    const { count, loading, error, loadMore, currentUser } = this.props;
    const data = this.props.data ? this.props.data.edges.map(nodeObjs => nodeObjs.node) : this.props.data;
    const variables = this.variables;

    if (error) {
      return <div>An unexpected error occurred</div>;
    }

      return (
      <>
<%= """        <LiveProvider code='<strong>Hello World!</strong>' scope={{data, all#{@f}#{@CP}, variables, #{@namespaces.join(', ')}}}>
          <LiveEditor />
          <LiveError />
          <LivePreview />
        </LiveProvider>""" if @reactLiveDebugger %>
        <Button icon="fa-cog" onClick={this.onClick} />
        <OverlayPanel ref={(el) => {this.op = el;}} showCloseIcon={true} dismissable={false}>
          <PickList source={this.source} target={this.target} itemTemplate={this.columnTemplate}
          sourceHeader="Available" targetHeader="Selected" responsive={true}
          sourceStyle={{height: '200px'}} targetStyle={{height: '200px'}}
          onChange={this.onChange}> style={{width: '600px'}}</PickList>
        </OverlayPanel>
        <div style={{background: 'bisque'}}>
<%= if TABLE_TYPE == 'react_table'
"""          <Table
            getTheadThProps={ (state, rowInfo, column, rtInstance) => { return { style: {background: 'aquamarine', fontSize: 'large'} } } }
            getTdProps={(state, rowInfo, column, rtInstance) => { return { style: { textAlign: 'center' } } }}
            loading={loading}
            LoadingComponent={({ className, loading, loadingText, ...rest }) => (
              <div
                className={classnames('-loading', { '-active': loading }, className)}
                {...rest}
              >
                <div className='-loading-inner'>
                  {<CircularProgress size={80} thickness={5} />}
                </div>
              </div>
            )}
            style={{background: 'bisque'}}
            defaultPageSize={10}
            data={data}
            columns={this.target.toJS()}
            showPagination={true}
            width={100}"""
    elsif TABLE_TYPE == 'taco_table'
"""          <Table
            fullWidth={false}
            columnHighlighting
            striped
            data={data}
            columns={this.target.toJS()}"""
    end  %>
<%= @dataBlock1A.join() %>
          />
        </div>
      </>
      );
    }
  }

export default List<%= @CP %>;

<%= @dataBlock2A.join() %>
/*
<%= main_view_list_generate(@yamlConfig[@name], 'widthRow', 'target').join(",\n") %>

<%= main_view_list_generate(@yamlConfig[@name], 'widthRow', 'source').join(",\n") %>
*/