<%= @noticeDoNotUseReactState %>
<%= standard_imports({
'React'=>'',
'pure'=>'',
'compose'=>'',
'lifecycle'=>'',
'withProps'=>'',
'inject'=>'',
'withRouter'=>'',
'withStyles'=>'',
'Button'=>'',
'TextField'=>'',
}) %>
<%= "import { LiveProvider, LiveEditor, LiveError, LivePreview } from 'react-live';" if @reactLiveDebugger%>
const styles = (theme) => ({
  container: {
    display: 'flex',
    flexWrap: 'wrap',
  },
  textField: {
    marginLeft: theme.spacing.unit,
    marginRight: theme.spacing.unit,
    width: 200,
  },
  menu: {
    width: 200,
  },
});

class SearchForm extends React.Component {
  static defaultProps = {
    initialKeywords: '',
    loading: false,
  };

  componentWillMount() {
    this.setState({ keywords: this.props.initialKeywords });
  }
  onInputChange = (name) => (event) => {
    this.setState({
      [name]: event.target.value,
    });
  }
  onSearch = (event) => {
    event.preventDefault();
    const { keywords } = this.state;
    const pathName = keywords ? `/<%= @dP %>/search/${keywords}` : '/';
    this.props.history.push(pathName);
  }
  render() {
    const { loading } = this.props;
    const { classes } = this.props;

    return (
      <div>
<%= """        <LiveProvider code='<strong>Hello World!</strong>' scope={{#{@namespaces.join(', ')}}}>
          <LiveEditor />
          <LiveError />
          <LivePreview />
        </LiveProvider>""" if @reactLiveDebugger %>
        <form onSubmit={this.onSearch}>
          <p>{this.state.keywords}</p>
          <TextField id="keywords" label="keywords" className={classes.textField} value={this.state.keywords} onChange={this.onInputChange(('keywords'))} margin="normal" />
          <Button variant="raised" type="submit" disabled={loading ? 'disabled' : false}>Search</Button>
        </form>
      </div>
    );
  }
}

export default compose(
  withRouter,
  withStyles(styles)
)(SearchForm);
