<% instance_eval(File.open(File.expand_path("../../commonForm.rb",File.dirname(__FILE__))).read) -%>
<%
@table = is_nested_form
@table_last_name = @table.name.demodulize
@table_last_name1 = @table.name.demodulize.camelize.pluralize
@table_last_name2 = @table.name.demodulize.underscore.downcase.pluralize
@table_last_name3 = @table.name.demodulize.underscore.downcase.singularize
-%>
<%
  # @nested_column_grid = (editable_attributes(is_nested_form.name)).zip( @yaml['nested_form']).map(&:compact)
  @nested_column_with_extra = gen_arguments_yaml2_private(is_nested_form.name, @l)
  array_field = @table_last_name3
-%>
<% # Must Run This Function to get Imports
fields = getFields(@nested_column_with_extra, "        ", array_field, 130){} -%>
<% fetchCallNested = get_import_component()-%>
<%
  form1 = "this.props.#{@table_last_name3}"
  tableName = is_nested_form.name
  fetch_functions(tableName)
-%>
<% fetch_calls(is_nested_form.name) -%>
import * as React from 'react';
import { observer } from 'mobx-react';
import { withApollo } from 'react-apollo';
import { Div } from 'components/structures/styled/styledDiv'
import FieldControl from '../../controls/FieldControls';

<%= fetchCallNested.join("\n") %>
<% # use  is_nested_form.name.demodulize instead of @l-%>
<%= get_import_queries(is_nested_form.name).join("\n") %>

@withApollo
@observer
export default class Form extends React.Component {
  // Class Level Functions
<%= @dataBlock1A.join() %>
  componentDidMount() {
    this._componenDidMount();
  }
  async _componenDidMount() {
  // Eventually, you can use set() into the onInit() hook of the Form Instance.
  // https://foxhound87.github.io/mobx-react-form/docs/events/event-hooks.html#execute-code-on-instance-init
  // you can use hooks on fields.
  // check for example: https://github.com/foxhound87/mobx-react-form/issues/303
<%= @fetchcalls.join("\n") %>
<%= @dataBlock2A.join() %>
    const {<%= @table_last_name3 %>} = this.props;
<%= @dataBlock3A.join() %>
// =============================Auto Generated Part=====================
  // We Write Observe in ComponentDidMount function.
<% nestedcolumnsArray = editable_attributes(is_nested_form.name).map{|a| {name: a.name}}%>
<%= nested_observe(nestedcolumnsArray).join("\n") %>
  }
<%= @fetch.join("\n") %>

  render(){
  const {<%= @table_last_name3 %>} = this.props;
  return(
    <fieldset>
      <div id = "parent" style={{display : 'flex'}}>
<%= fields.join("\n") %>
        <div style={{width: 'max-content'}}>
          <span>
            <FieldControl
              field={<%= @table_last_name3 %>}
              labels={false}
              controls={{
                onDel: true,
                onClear: true,
                onReset: true,
              }}
            />
          </span>
        </div>
      </div>
    </fieldset>
  )}
}
<%= @functionComment %>
// For use in ComponentDidMount
<%= nested_observeComment(nestedcolumnsArray).join("\n") %>
