<% instance_eval(File.open(File.expand_path("../../commonForm.rb",File.dirname(__FILE__))).read) -%>
<%
table = is_nested_form
table_last_name = table.name.demodulize
table_last_name1 = table.name.demodulize.camelize.pluralize
table_last_name2 = table.name.demodulize.underscore.downcase.pluralize
table_last_name3 = table.name.demodulize.underscore.downcase.singularize
-%>
<% # Must Run This Function to get Imports, But We not need Import Here for Totals.
  # @nested_column_grid = (editable_attributes(is_nested_form.name)).zip( @yaml['nested_form']).map(&:compact)
  @nested_column_with_extra = gen_arguments_yaml2_private(is_nested_form.name, @l)
  array_field1 = @table_last_name3
  fields = getFields(@nested_column_with_extra, "      ", array_field1, 130, true, "form"){}
-%>
import * as React from 'react';
import { observer } from 'mobx-react';
<% 
table = is_nested_form
import3 = if table 
            "import Nested#{table_last_name.camelize.singularize}Fieldset from './Nested#{table_last_name.camelize.singularize}Fieldset';\n"
          end
-%>
<%= import3 %>
import { Div } from 'components/structures/styled/styledDiv'
import FieldControl from '../../controls/FieldControls';
<%= @dataBlock1A.join() %>
export default observer(({ form, <%= table_last_name2 %> }) => (
  <fieldset>
    <div>
      <h5>
        {<%= table_last_name2 %>.label}
      </h5>
      <div>
        <FieldControl
          field={<%= table_last_name2 %>}
          labels
          controls={{
            onAdd: true,
            onClear: true,
            onReset: true,
          }}
        />
      </div>
    </div>
    {<%= table_last_name2 %>.map((<%= table_last_name3 %>) => (
      <Nested<%= table_last_name.camelize.singularize %>Fieldset
        key={<%= table_last_name3 %>.key}
        <%= table_last_name3 %>={<%= table_last_name3 %>}
      />))}
    {<%= table_last_name2 %>.value.length > 0 && 
      <fieldset>
      <div id = "parent" style={{display : 'flex'}}>
<%= fields.join("\n") %>
      </div>
    </fieldset>
    }
  </fieldset>
));
// For use in MyFormComputed on _Form.tsx
<% nestedcolumnsArray = @nested_column_with_extra.map{|a| {name: a[:name]}}%>
<%= nestedTotalComment(nestedcolumnsArray).join("\n") %>
