Types::MutationType = GraphQL::ObjectType.define do
  name "Mutation"

  # Add root-level Mutation fields here.

  # All Generated mutations are below:
  # ================All Active Record Mutations============================ 
  
<%= all_mutations_generate %>

# ============================================
<%= @dataBlockServer1A.join() %>
# Extra Mutation:
  # TODO: Remove me
  field :testField, types.String do
    description "An example field added by the generator"
    resolve ->(obj, args, ctx) {
      "Hello World!"
    }
  end
end
