          {
            name: 'Monitor',
            path: 'monitor',
            component: dynamicWrapper(app, ['monitor'], () => import('../routes/Dashboard/Monitor')),
          },

<% allPageImports = all_models.map { |n|
  next if ignore_join_tables(n)
  save_variabls(n)
  o = "import { All" + @CP + ", Search" + @CP + ", " + @CS + ", New" + @CS + ", Edit" + @CS + " }" + "from './routes/" + @fD + "/" + @UdP + "';"
   }.join("\n") -%>

<% allPageLinks = all_models.map { |n|
  next if ignore_join_tables(n)
  save_variabls(n)
  o = "const #{@dP} = new PageLink('#{@dP}');"
   }.join("\n") -%>

<% @v2 = all_models.map { |n|
  next if ignore_join_tables(n)
  save_variabls(n)
  o = []
  o << "{name: '#{@CS} Search', icon: 'dashboard', path: '/#{@dP}/search/:keywords', component: dynamicWrapper(app, [], () => import('../routes/#{@fD}/#{@UdP}/Search#{@CP}')),},"
  o << "{name: '#{@CS} New', icon: 'dashboard', path: '/#{@dP}/new', component: dynamicWrapper(app, [], () => import('../routes/#{@fD}/#{@UdP}/New#{@CS}')),},"
  o << "{name: '#{@CS} Edit', icon: 'dashboard', path: '/#{@dP}/:id/edit', component: dynamicWrapper(app, [], () => import('../routes/#{@fD}/#{@UdP}/Edit#{@CS}')),},"
  # o << "{name: '#{@CS} Show', icon: 'dashboard', path: '/#{@dP}/:id', component: dynamicWrapper(app, [], () => import('../routes/#{@fD}/#{@UdP}/#{@CS},')),},"
  o << "{name: '#{@CS} All', icon: 'dashboard', path: '/#{@dP}', component: dynamicWrapper(app, [], () => import('../routes/#{@fD}/#{@UdP}/All#{@CP}')),},"
  o.join("\n")
}.join("\n")  -%>
/* eslint-disable */
import * as React from 'react';
import { Route, Switch } from 'react-router-dom';
import { PageLink } from 'utils/pageLinks';

import HomePage from './routes/HomePage/Loadable';
// import NotFoundPage from './routes/NotFoundPage/Loadable';
import NotFound from './components/views/NotFound';

<%= allPageImports %>
<%= allPageLinks %>

export const menuHash = {
  // @formatter:off
  Design: {
    show: true,
    icon: 'abe.jpg',
    color: 'green',
    array: [
<%= @v2 %>
    ],
  },
  // @formatter:on
};

export default (
  <Switch>
    <Route exact path="/" component={HomePage} />
    {Object.keys(menuHash).map((k) =>
      menuHash[k].array.map((route) => (
        <Route path={route.path} component={route.component} />
      )))}

    <Route path="*" component={NotFound} />
  </Switch>
);
