<% instance_eval(File.open(File.expand_path("./commonAllModels.rb",File.dirname(__FILE__))).read) -%>
/* eslint-disable */
import * as React from 'react';
import { extendObservable, runInAction, observable, computed, reaction } from 'mobx';
import { PageLink } from 'utils/pageLinks';

import UserIsAuthenticated from 'views/UserIsAuthenticated';
// import HomePage from './containers/HomePage/Loadable';
// import NotFoundPage from './containers/NotFoundPage/Loadable';
// import NotFound from './components/views/NotFound';

<%= @importsBlockA.join() %>
<%= routes_import %>

<% routes_import(all_state_machines.map{|a| h={}; h[:table] = a[:transition]; h}) -%>

import All from 'components/views/RouterPage/All'
// import Dashboard from 'containers/DashboardPage';
import * as UrlPattern from 'url-pattern';

<%= routes_import(loop_classes, {links: true}) %>

<% # routes_fetch_data_functions -%>
<%= @importsBlockB.join() %>
let menuHash = {
  // @formatter:off
<%= routes_hash %>

<% routes_hash(all_state_machines.map{|a| h={}; h[:table] = a[:transition]; h}) -%>
    ],
  },
  // @formatter:on
};

const menuHash_logout = {
  // @formatter:off
<%= @dataBlock1A.join() %>
  // @formatter:on
};
<%= @dataBlock1B.join() %>

<%= @dataBlock2A.join() %>
class NavigationStore {
  constructor() {
    extendObservable(this, {
      menuHash: menuHash_logout,
      menuHash_all: menuHash
    })
  }
<%= @dataBlock3A.join() %>
}

export default NavigationStore;



//export default (
//  <Switch>
//    <Route exact path="/" component={HomePage} />
//    {Object.keys(menuHash).map((k) =>
//      menuHash[k].array.map((route) => (
//        <Route path={route.path} component={route.component} />
//      )))}
//
//    <Route path="*" component={NotFound} />
//  </Switch>
//);
