Dir[File.dirname(__FILE__) + '/scalars/*.rb'].each {|file| require file}
Dir[File.dirname(__FILE__) + '/default/*.rb'].each {|file| require file}

Types::QueryType = GraphQL::ObjectType.define do
  name "Query"

  # Add root-level fields here.
  # They will be entry points for queries on your schema.

  # queries are just represented as fields
  # All Generated Queries are below:
  # ================All Active Record Queries============================ 
  
<%= all_queries_generate %>

# ================All State Machine Queries============================
<%= all_state_machines_queries_generate %>
<%= @dataBlockServer1A.join() %>
# ============================================
# Extra Queries:
  field :currentUser, Types::UserAccountType do
    description 'fetch the current user.'
    resolve ->(object, args, ctx) {
      # ctx[:current_user]
      User::Account.first
    }
  end
end