<% instance_eval(File.open(File.expand_path("./commonAllModels.rb",File.dirname(__FILE__))).read) -%>
Dir[File.dirname(__FILE__) + '/scalars/*.rb'].each {|file| require file}
Dir[File.dirname(__FILE__) + '/default/*.rb'].each {|file| require file}

Types::ViewerType = GraphQL::ObjectType.define do
  # Hack to support root queries
  name 'Viewer'
  description 'Support unassociated root queries that fetches collections.'
  interfaces [GraphQL::Relay::Node.interface]

  # `id` exposes the UUID
  global_id_field :id

# All Generated Queries are below:
# ================All Active Record Queries============================

<%= all_viewer_fields_generate %>

<%= @dataBlockServer2A.join() %>


# ================All State Machine Queries============================
# Temparary disable all_state_machines_queries_generate
<%
all_states = all_state_machines.map{|m| {table: m[:model]} }
-%>
<%= all_viewer_fields_generate(all_states, 'State') %>
end
<%= @dataBlockServer3A.join() %>
# ============================================
