<%= @noticeDoNotUseReactState %>
<%= standard_imports({
'React'=>'',
'pure'=>'',
'compose'=>'',
'lifecycle'=>'',
'withProps'=>'',
# 'inject'=>'',
# 'Link'=>'',
'withStyles'=>'',
'PrimeBreadCrumb'=>'',
'observer'=>'',
'Observer'=>'',
'observable'=>'',
'computed'=>'',
'action'=>'',
'extendObservable'=>'',
'runInAction'=>'',
}) %>
<%
importData = []
importData <<  {module: 'components/views/controls/TableViewControls', import_modules: 'TableViewControls'}

# result_f = false
# result_l = false
# object = @yamlConfig[@name]
# if object.is_a?(Hash) && object.key?('table')
#   result_f = object['table'].deconstantize
#   result_l = object['table'].demodulize
# elsif object.is_a?(Hash) && object.key?('table_view')
#   result_f = object['table_view'].deconstantize
#   result_l = object['table_view'].demodulize
# else
  result_f = @f
  result_l = @l
# end

result_CP = result_l.camelize.pluralize
result_cP = result_l.camelize(:lower).pluralize
result_fD = result_f.downcase
result_UdP = result_l.underscore.downcase.pluralize
result_dP = result_l.downcase.pluralize

importData <<  {module: "logic/_List#{@CP}", import_modules: "List#{@CP}"}
importData <<  {module: "logic/_HeadList#{@CP}", import_modules: "HeadList#{@CP}"}
importData <<  {module: "views/elements/loadingSpinner", import_modules: ["loadingSpinner"]}
importData <<  {module: "views/elements/graphqlErrors", import_modules: ["graphqlErrors"]}
importData <<  {module: "components/views/Pagination/Pagination", import_modules: "Pagination"}
importData <<  {module: "components/views/Pagination/PaginationHOC", import_modules: "PaginationHOC"}

importData <<  {module: "queries/#{result_fD}/#{result_UdP}/#{result_cP}Query", import_modules: "with#{result_f}#{result_CP}Data"}
%>
<%= import_modules_function(importData).join("\n") %>

@with<%= result_f + result_CP %>Data
@PaginationHOC
@observer
export default class All<%= @CP %>Pure extends React.Component {
  componentDidMount() {
    this.refetch()
  }
  refetch = () => {
    this.props.<%= result_cP %>.refetch(); // You can pass variables here.
  }
  render(){
  const { <%= result_cP %>, <%= result_cP %>: { loading, error } } = this.props;
    return (
      <div>
        <BreadCrumb model={[{label: "<%= @CP %>", url: ''}]}/>
        <h1><%= @CP %></h1>
        <HeadList<%= @CP %> />
        <button onClick={this.refetch}>Refetch</button>

        {loadingSpinner(loading)}
        {!loading ? (
          <>
            <TableViewControls/>
            <Pagination
              total={<%= result_cP %>.root.<%= result_fD + result_CP %>Count}
              current={this.props.currentPage}
              pageSize={this.props.pageSize}
              onChange={this.props.onChange(<%= result_cP %>)}
              onShowSizeChange={this.props.onShowSizeChange(<%= result_cP %>)}
            />
            <List<%= @CP %>
              loading={loading}
              error={error}
              data={<%= result_cP %>.root.<%= @fD %><%= @CP %>}
              count={<%= result_cP %>.root.<%= result_fD + result_CP %>Count}
              loadMore={<%= result_cP %>.root.loadMore<%= result_fD + result_CP %>}
              currentUser={<%= result_cP %>.root.currentUser}
            />
          </>
        ) : null }
        {graphqlErrors(error)}
      </div>
    );
  }
}
