<%
importData = []
importData <<  {module: "./All#{@CP}", import_modules: "All#{@CP}"}
importData <<  {module: "./Search#{@CP}", import_modules: "Search#{@CP}"}
importData <<  {module: "./#{@CS}", import_modules: "#{@CS}"}
importData <<  {module: "./New#{@CS}", import_modules: "New#{@CS}"}
importData <<  {module: "./Edit#{@CS}", import_modules: "Edit#{@CS}"}
%>
<%= import_modules_function(importData).join("\n") %>

export { All<%= @CP %>, Search<%= @CP %>, <%= @CS %>, New<%= @CS %>, Edit<%= @CS %> };