<%= @noticeDoNotUseReactState %>
<%= standard_imports({
'React'=>'',
'pure'=>'',
'compose'=>'',
'lifecycle'=>'',
'withProps'=>'',
'inject'=>'',
# 'Link'=>'',
'withStyles'=>'',
'Button'=>'',
'AddIcon'=>'',
'CircularProgress'=>'',
}) %>
<%
importData = []
importData <<  {module: "logic/_List#{@CP}", import_modules: "List#{@CP}"}
importData <<  {module: "logic/_HeadList#{@CP}", import_modules: "HeadList#{@CP}"}
importData <<  {module: "queries/#{@fD}/#{@UdP}/#{@cP}Query", import_modules: "with#{@CP}Data"}
%>
<%= import_modules_function(importData).join("\n") %>

class Search<%= @CP %> extends React.Component {
  componentWillUpdate(nextProps) {
    if (nextProps.match.params.keywords !== this.props.match.params.keywords) {
      this.props.data.<%= @cP %> = [];
    }
  }

  render() {
    const { <%= @cP %>, <%= @fD + @CP %>Count, loading } = this.props.data;
    const {
      match: { params: { keywords } },
      loadMore<%= @CP %>,
      first<%= @CP %>Loading,
    } = this.props;

    return (
      <div className="search-<%= @cP %>">
        <h1>Searching <%= @cP %></h1>
        <HeadList<%= @CP %>
          initialKeywords={keywords}
          loading={first<%= @CP %>Loading}
        />

        {!first<%= @CP %>Loading && <%= @cP %> && <%= @cP %>.length === 0 ? (
          <h3>No results found ...</h3>
        ) : (
          <List<%= @CP %>
            <%= @cP %>={<%= @cP %>}
            <%= @fD + @CP %>Count={<%= @fD + @CP %>Count}
            loading={loading}
            loadMore<%= @CP %>={loadMore<%= @CP %>}
          />
        )}
      </div>
    );
  }
}

export default compose(
  inject('router'),
  with<%= @CP %>Data
)(Search<%= @CP %>);