<%= @noticeDoNotUseReactState %>
<%= standard_imports({
'React'=>'',
'pure'=>'',
'compose'=>'',
'lifecycle'=>'',
'withProps'=>'',
'inject'=>'',
'Link'=>'',
'withStyles'=>'',
'IconButton'=>'',
'DeleteIcon'=>'',
'EditIcon'=>'',
'CircularProgress'=>'',
# 'observer'=>'',
# 'Observer'=>'',
# 'withApollo'=>'',
}) %>
<%
importData = []
# importData <<  {module: "queries/#{@fD}/#{@UdP}/#{@cS}ForEditingQuery", import_modules: "with#{@CS}ForEditing"}
importData <<  {module: "mutations/#{@fD}/#{@UdP}/destroy#{@CS}Mutation", import_modules: "withDestroy#{@CS}"}
importData <<  {module: "queries/user/currentUserQuery", import_modules: 'withCurrentUser'}
%>
<%= import_modules_function(importData).join("\n") %>

// import moment from 'moment';
const styles = () => ({
  badge: {
    margin: '0 0',
    height: 17,
  },
});

// const destroy = (id, variables) => {
  // if (window.confirm('Are you sure ?')) {
  // this.props.destroy<%= @CS %>(id, variables);
  // }
  // return false;
// }

const <%= @CS %>PreviewPure = ({ <%= @cS %>Row, currentUser, destroyRow, variables, classes }) => {
  return (
    <div style={{ display: 'flex' }}>
      {/* {moment(new Date(<%= @cS %>.created_at)).fromNow()} */}
      {currentUser
        ? [
          <Link to={`/<%= @dP %>/${<%= @cS %>Row.id}/edit`} key="edit">
            <IconButton className={classes.badge} title="Edit"><EditIcon /></IconButton>
          </Link>,
          <IconButton  color="secondary" className={classes.badge} title="Delete" onClick={() => destroyRow(<%= @cS %>Row.id, variables)} key="delete"><DeleteIcon /></IconButton>,
        ]
        : null}
    </div>
  );
}

export default compose(
  inject('router'),
  withDestroy<%= @CS %>,
  withCurrentUser,
  withStyles(styles)
)(<%= @CS %>PreviewPure);