<% instance_eval(File.open(File.expand_path("./commonQuery.rb",File.dirname(__FILE__))).read) -%>
<%
  # Must Run Furst to get   @v1 @v2 @v3 
  query_variables()
-%>
<%= query_standard_import %>

export const fragments = {
  <%= @cS %>: gql`
    fragment <%= @CS %>PreviewFragment on <%= @f %><%= @CS %>
<%= JSON.pretty_generate(do_loop_all_keys_query(@yamlConfig[@name], prefix=[], addMain=true, r={}, key=[], addNested=false), {indent: '  '}).gsub(/\"/,"").gsub(/: ,/,"").gsub(/:/,"") %>
  `,
};

export const <%= @f %><%= @CP %>SubscriptionQuery = gql`
  subscription <%= @fD %><%= @CP %>Query<%= @v1 %> {
    <%= @fD + @CP %>Count
    <%= @fD %><%= @CP %><%= @v2 %> {
      edges {
        cursor
        node {
          ...<%= @CS %>PreviewFragment
        }
      }
    }
  }
  ${fragments.<%= @cS %>}
`;

export default graphql(<%= @f %><%= @CP %>SubscriptionQuery, {
  name: '<%= @cP %>',
  options: (props) => ({ // eslint-disable-line
    variables: {<%= @v3 %>},
    fetchPolicy: 'cache-and-network',
    errorPolicy: 'all',
    notifyOnNetworkStatusChange: true
  }),
});
