<% instance_eval(File.open(File.expand_path("./commonQuery.rb",File.dirname(__FILE__))).read) -%>
<%
  # Must Run Furst to get   @v1 @v2 @v3 
  query_variables()
-%>
<%= query_standard_import %>
import { <%= @f %><%= @CP %>SubscriptionQuery } from './<%= @cP %>SubscriptionQuery'

export const fragments = {
  <%= @cS %>: gql`
    fragment <%= @CS %>PreviewFragment on <%= @f %><%= @CS %>
<%= JSON.pretty_generate(do_loop_all_keys_query(@yamlConfig[@name], prefix=[], addMain=true, r={}, key=[], addNested=false), {indent: '  '}).gsub(/\"/,"").gsub(/: ,/,"").gsub(/:/,"") %>
  `,
};

export const <%= @f + @CP %>Query = gql`
  query <%= @fD %><%= @CP %>Query<%= @v1 %> {
    root{
      <%= @fD + @CP %>Count
      <%= @fD %><%= @CP %><%= @v2 %> {
        edges {
          cursor
          node {
            ...<%= @CS %>PreviewFragment
          }
        }
      }
    }
  }
  ${fragments.<%= @cS %>}
`;

export default graphql(<%= @f + @CP %>Query, {
  name: '<%= @cP %>',
  options: (props) => ({ // eslint-disable-line
    variables: {<%= @v3 %>},
    fetchPolicy: 'network-only',
    errorPolicy: 'all',
    notifyOnNetworkStatusChange: true
  }),
   props: props => {
    return {
      ...props,
      subscribeToNewComments: params => {
        return props.<%= @dP %>.subscribeToMore({
          document: <%= @f %><%= @CP %>SubscriptionQuery,
          variables: {
              
          },
          updateQuery: (prev, {subscriptionData}) => {
            if (!subscriptionData.data) {
              return prev;
            }

            const newFeedItem = subscriptionData.data.commentAdded;

            return Object.assign({}, prev, {
              entry: {
                  comments: [newFeedItem, ...prev.entry.<%= @dP %>]
              }
            });
          }
        })
      }
    }
  }
});
