<% instance_eval(File.open(File.expand_path("./commonQuery.rb",File.dirname(__FILE__))).read) -%>
<%= query_standard_import %>

export const fragments = {
  <%= @cS %>: gql`
    fragment <%= @CS %>Fragment on <%= @f %><%= @CS %>
<%= JSON.pretty_generate(do_loop_all_keys_query(@yamlConfig[@name], prefix=[], addMain=true, r={}, key=[], addNested=true, columns_hide = /^(user_id)$/, table_key='table_view'), {indent: '  '}).gsub(/\"/,"").gsub(/: ,/,"").gsub(/:/,"") %>
  `,
};

export const GET_<%= @UUS %> = gql`
  query <%= "#{@fD + @CS}" %>($id: ID) {
    root {
      <%= "#{@fD + @CS}" %>(id: $id) {
        ...<%= @l %>Fragment
      }
    }
  }
  ${fragments.<%= @cS %>}
`;

export default graphql(GET_<%= @UUS %>, {
  name: '<%= "#{@fD + @CS}" %>',
  options: (props) => ({
    variables: {
      id: props.route.params.id,
    },
    fetchPolicy: 'network-only',
    errorPolicy: 'all'
  }),
});
