<% instance_eval(File.open(File.expand_path("./commonServer.rb",File.dirname(__FILE__))).read) -%>
<% typeName = @f + @l -%>
Types::<%=typeName%>Type = GraphQL::ObjectType.define do
  name '<%=typeName%>'
  description '<%=typeName%>'

  interfaces [ActiveRecordTimestamp]
  field :id, !types.ID

<%= add_fields(@yamlConfig[@name]).join("\n") %>
<%= do_loop_add_relationships_fetch(@yamlConfig[@name],prefix='', addMain=true, r=[]).join("\n") %>
<%= @dataBlockServer1A.join() %>
end
<% 
=begin
  # This is simple relationship
  field :diamonds, !types[Types::DesignDiamondType] do
    resolve ->(obj, args, ctx) {
        obj.design_diamonds
    }
    # resolve ->(obj, args, ctx) { RecordLoader.for(Sale::Order).load(obj.processable.id) }
  end
end

  # connection :diamonds, Types::DesignDiamondType.connection_type
  connection :diamonds, DiamondConnectionType do
    # Add an argument:
    argument :since, types.String

    # Return an Array or ActiveRecord::Relation
    resolve ->(style, args, ctx) {
      diamonds = style.design_diamonds

      if args[:since]
        diamonds = style.where("created_at >= ?", since)
      end

      diamonds
    }
  end

end
# Make a customized connection type
DiamondConnectionType = Types::DesignDiamondType.define_connection do
  name "DiamondConnectionType"
  field :totalCount do
    type types.Int
    # - `obj` is the Connection
    # - `obj.nodes` is the collection of Posts
    resolve ->(obj, args, ctx) { obj.nodes.count }
  end
end

  # field :sale_jobs, !types[Types::SaleJobType] do
  #   # preload :sale_jobs
  # resolve ->(obj, args, ctx) { obj.sale_jobs }
  # resolve ->(obj, args, ctx) { RecordLoader.for(Sale::Job).load(obj.sale_jobs)}
  # end
  connection :sale_jobs, SaleJobsConnectionType do
    resolve ->(order, args, ctx) {
      order.sale_jobs
      # RecordLoader.for(Sale::Job).load(order.sale_jobs)  # This GraphQL::Batch Function Not working.
    }
  end
  
  # Make a customized connection type
SaleJobsConnectionType = Types::SaleJobType.define_connection do
  name "SaleJobsConnectionType"
  field :totalCount do
    type types.Int
    # - `obj` is the Connection
    # - `obj.nodes` is the collection of Posts
    resolve ->(obj, args, ctx) { obj.nodes.count }
  end
end
  
=end
-%>