// Parts add to Model:
<% relationship_name = "#{@fUD}_#{@UDS}" -%>
  # ---------------------------------Statesman---------------------------------
  # example on github page, use autosave: false.
  # you can add association_name (It is useful when, say, you have model wrapped in namespace.)
  has_many :<%= relationship_name %>_transitions, :class_name => '<%= @name%>Transition', autosave: false, :foreign_key => '<%= relationship_name %>_id'

  def state_machine
    @state_machine ||= <%= @name%>StateMachine.new(self, transition_class: <%= @name%>Transition)
  end

  def self.transition_class
    <%= @name%>Transition
  end

  def self.initial_state
    :pending
  end

  private_class_method :initial_state

  # -------------------------------Statesman End-------------------------------