<% instance_eval(File.open(File.expand_path("./commonServer.rb",File.dirname(__FILE__))).read) -%>
<%
input_fields = write_input_fields.join("\n")
input_fields += "\n"
input_fields += do_loop_add_tables_mutation(@yamlConfig[@name],prefix='', addMain=true, r=[], part='input_fields').join("\n")
delete_changed_keys_ArgModify_function

general_mutation_no_create_generate = @yamlConfig[@config].dig 'general', 'mutations', 'no_create_generate'
general_mutation_no_update_generate = @yamlConfig[@config].dig 'general', 'mutations', 'no_update_generate'
general_mutation_no_delete_generate = @yamlConfig[@config].dig 'general', 'mutations', 'no_delete_generate'
no_auth_protect_create = @yamlConfig[@config].dig 'server', 'mutations', 'no_auth_protect_create'
no_auth_protect_update = @yamlConfig[@config].dig 'server', 'mutations', 'no_auth_protect_update'
no_auth_protect_delete = @yamlConfig[@config].dig 'server', 'mutations', 'no_auth_protect_delete'
-%>
module <%= @CS %>Mutations
<%- if @part2requidArgModify -%>
  def self.arg_modify(inputs, ctx)
    h = inputs.to_h
<%= @part2.gsub /^$\n/, '' %>
<%= @dataBlockServer6A.join() %>
    h
  end
<%- end -%>
<%
#   def self.set_parameter(ob, inputs)
# <%= @v1 >
#     if ob.save
#       {<%= @cS >: ob}
#     else
#       {errors: ob.fields_errors}
#     end
#   end
  ##   inputs[:diamonds].each do |x|
  ##     ass_obj = ob.design_diamonds.build(position: x.position, material_material_id: ...)
  ##   end
-%>
<%- if !general_mutation_no_create_generate -%>
  Create = GraphQL::Relay::Mutation.define do
    name "create<%= @CS %>"
    description "create <%= @CS %>"

<%= input_fields %>
<%= @dataBlockServer1A.join() %>
    return_field :<%= @cS %>, Types::<%= @table.gsub('::','') %>Type
    return_field :messages, types[Types::FieldErrorType]

    resolve<%= !no_auth_protect_create ? '(Auth.protect ->(' : ' ->(' %>obj, inputs, ctx) {
<%- if !@general_mutation_custom_create_logic -%>
      # new_<%= @cS %> = ctx[:current_user].<%= @cS %>s.build(inputs.to_params)
      <%= """inputs = inputs.to_h
      status_id = inputs.delete 'status_id'""" if @status_id %>

      args = <% if @part2requidArgModify %><%= @CS %>Mutations.arg_modify(inputs, ctx)<% else %>inputs.to_h<% end %>
<%= @dataBlockServer1C.join() %>
      new_<%= @cS %> = <%= @yamlConfig[@table]['table'] %>.new(args)

      if new_<%= @cS %>.save
        <%="""if new_#{@cS}.state_machine.can_transition_to?(status_id)
          new_#{@cS}.state_machine.transition_to!(status_id)
        end""" if @status_id %>
        <%= "new_#{@cS} = #{@yamlConfig[@table]['table_view']}.find(new_#{@cS}.id)" if @yamlConfig[@table]['table_view'] %>
        { <%= @cS %>: new_<%= @cS %> }
      else
        { messages: new_<%= @cS %>.fields_errors }
      end
<%- end -%>
<%= @dataBlockServer1B.join() %>
    }<%= !no_auth_protect_create ? ')' : '' %>
  end
<%- end -%>

  Update = GraphQL::Relay::Mutation.define do
    name "update<%= @CS %>"
    description "Update a <%= @CS %> and return <%= @CS %>"

    input_field :id, types.ID
<%= input_fields %>
    input_field :_destroy, types.Boolean
<%= @dataBlockServer2A.join() %>
    return_field :<%= @cS %>, Types::<%= @table.gsub('::','') %>Type
    return_field :messages, types[Types::FieldErrorType]

    resolve<%= !no_auth_protect_update ? '(Auth.protect ->(' : ' ->(' %>obj, inputs, ctx) {
      <%= @cS %> = <%= @yamlConfig[@table]['table'] %>.find(inputs[:id])
      <%= """inputs = inputs.to_h
      status_id = inputs.delete 'status_id'""" if @status_id %>

      if !ctx[:current_user] # if ctx[:current_user] != <%= @cS %>.user
        FieldError.error("You can not modify this <%= @cS %> because you are not the owner")
      elsif <%= @cS %>.update(<% if @part2requidArgModify %><%= @CS %>Mutations.arg_modify(inputs, ctx)<% else %>inputs.to_h<% end %>)
        <%="""if #{@cS}.state_machine.can_transition_to?(status_id)
          #{@cS}.state_machine.transition_to!(status_id)
        end""" if @status_id %>
        <%= "#{@cS} = #{@yamlConfig[@table]['table_view']}.find(#{@cS}.id)" if @yamlConfig[@table]['table_view'] %>
        { <%= @cS %>: <%= @cS %> }
      else
        { messages: <%= @cS %>.fields_errors }
      end
<%= @dataBlockServer2B.join() %>
    }<%= !no_auth_protect_update ? ')' : '' %>
  end

<%- if !general_mutation_no_delete_generate -%>
  Destroy = GraphQL::Relay::Mutation.define do
    name "destroy<%= @CS %>"
    description "Destroy a <%= @CS %>"
    input_field :id, types.ID
<%= @dataBlockServer3A.join() %>
    return_field :<%= @cS %>, Types::<%= @table.gsub('::','') %>Type
    return_field :messages, types[Types::FieldErrorType]

    resolve<%= !no_auth_protect_delete ? '(Auth.protect ->(' : ' ->(' %>obj, inputs, ctx) {
      <%= @cS %> = <%= @yamlConfig[@table]['table'] %>.find(inputs[:id])

      if !ctx[:current_user] # if ctx[:current_user] != <%= @cS %>.user
        FieldError.error("You can not modify this <%= @cS %> because you are not the owner")
<%= @dataBlockServer3B.join() %>
      elsif <%= @cS %>.destroy
        {<%= @cS %>: <%= @cS %>}
      end
    }<%= !no_auth_protect_delete ? ')' : '' %>

  end
<%= @dataBlockServer4A.join() %>
<%- end -%>
<%= @dataBlockServer5A.join() %>
end

=begin
  field :create<%= @CS %>, field: <%= @CS %>Mutations::Create.field
  field :update<%= @CS %>, field: <%= @CS %>Mutations::Update.field
  field :destroy<%= @CS %>, field: <%= @CS %>Mutations::Destroy.field
=end
<%
  #   ass_obj = User::Account.find_by_id(inputs.designer_id)
  #   return { errors: 'Designer not found' } if ass_obj.nil?
  #   if ass_obj
  #     ob.user_account = ass_obj
  #   else
  #     ob.errors.add(:designer_id, 'can not find object!!!')
  #   end
-%>
<%
=begin
If you want to create inputs manually you can do this and use variable as input field.
  # Create an input type for each diamond
  StyleItemInputObjectType = GraphQL::InputObjectType.define do
    name "Diamond"
    input_field :id, types.ID
    input_field :position, types.Int
    input_field :material_id, types.Int
    input_field :gem_shape_id, types.Int
    input_field :gem_clarity_id, types.Int
    input_field :color_id, types.Int
    input_field :gem_size_id, types.Int
    input_field :pcs, types.Int
    input_field :pointer, types.Float
    input_field :weight, types.Float
    input_field :_destroy, types.Boolean
  end
=end
-%>