<%
# Note: We Not looping nested tables.
def doLoopAddTables(object, prefix='', addMain=true, r=[], part=1)

  # Add fields of itself
  # r.merge!(addFieldsObjectEditing(name.constantize, "", object)) if addMain
  object.keys.each do |k| # Loop Through all keys
    next unless object[k].is_a?(Hash) && object[k].key?('table') # && !object[k]['noGenerateTable']   If table key not exist we not process it.
    table_UdP = object[k]['table'].demodulize.underscore.downcase.pluralize
    table_UDS = object[k]['table'].demodulize.singularize.underscore.downcase
    table_CS = object[k]['table'].demodulize.singularize.camelize #same
    relationship_UdP =  object[k].is_a?(Hash) && object[k].key?('table_relationship_name') ? object[k]['table_relationship_name'].underscore.downcase.pluralize : "#{table_UdP}"
    relationship_UDS =  object[k].is_a?(Hash) && object[k].key?('table_relationship_name') ? object[k]['table_relationship_name'] : "#{table_UDS}"

    r << "$#{relationship_UDS}_ids: [ID]" if part == 1
    # r << ", $#{table_UdP}: [update#{table_CS}Input!]!" if part == 1
    r << "$#{relationship_UdP}: [update#{table_CS}Input]" if part == 1
    r << "#{relationship_UDS}_ids: $#{relationship_UDS}_ids" if part == 2
    r << "#{relationship_UdP}: $#{relationship_UdP}" if part == 2
    # prefix2 = [*prefix, table_UdP]
    # value = addFieldsObjectEditing(object[k]['table'].constantize, '', object[k])
    # deep_set(r, value, *prefix2)
    # doLoopAddTables(object[k]['nested'], '', false, r) if object[k].key?('nested')
  end

  r
end
# ==================================Table Adds end==================

lineOne = []
editable_attributes.each { |c|
  n = +c.name
  # 1. Hide Fields
  object = @yamlConfig[@config]
  next unless do_process_column(object, n)
  new_field_proc = Proc.new do |k|
    type = type_change(k["type"])
    type = "ID" if n.last(3) == '_id'
    next if  k["name"].last(3) == 'ids'  # This line is already generated by table...
    lineOne << "$#{column_change(@l, name_change(k["name"]))}: #{type}" if k['addGraphFields']
  end
  add_extra_fields_before(object, c.name) { |k| new_field_proc.call(k) }
  type = type_change(c.type)
  type = "ID" if n.last(3) == '_id'
  lineOne << "$#{column_change(@l, name_change(n))}: #{type}"
  # 2. Add Fields
  add_extra_fields(object, c.name) { |k| new_field_proc.call(k) }
}
@v1 = lineOne.join(', ') -%>
<% @v1 += ', ' + doLoopAddTables(@yamlConfig[@name],prefix='', addMain=true, r=[], part=1).join(', ') -%>
<%
lineTwo = []
editable_attributes.each { |c|
  # 1. Hide Fields
  object = @yamlConfig[@config]
  new_field_proc = Proc.new do |k|
    n = column_change(@l, name_change(k["name"]))
    next if  n.last(3) == 'ids'  # This line is already generated by table...
    lineTwo << "#{n}: $#{n}" if k['addGraphFields']
  end
  n = +c.name
  next unless do_process_column(object, n)
  add_extra_fields_before(object, c.name) { |k| new_field_proc.call(k) }
  n = column_change(@l, name_change(n))
  lineTwo << "#{n}: $#{n}"
  # 2. Add Fields
  add_extra_fields(object, c.name) { |k| new_field_proc.call(k) }
}
@v2 = lineTwo.join(', ') -%>
<% @v2 += ', ' + doLoopAddTables(@yamlConfig[@name],prefix='', addMain=true, r=[], part=2).join(', ') -%>
<% @v1.prepend('$id: ID, ') if @iscreate == false -%>
<% @v2.prepend('id: $id, ') if @iscreate == false -%>
<% @c_u = @iscreate ? 'create' : 'update' -%>
<% @C_U = @iscreate ? 'CREATE' : 'UPDATE' -%>
<% @C_U1 = @iscreate ? 'Create' : 'Update' -%>
<%= standard_imports({
'gql'=>'',
}) %>
<%= "import { fragments } from 'queries/" + @fD + "/" + @UdP + "/" + @cP + "Query';" if @iscreate == true && !@general_disable_query_generate-%>
<%= "import { fragments } from 'queries/" + @fD + "/" + @UdP + "/" + @cS + "ForEditingQuery';" if @iscreate == false && !@general_disable_query_generate %>
<%= @importsBlockA.join() %>
export const <%= @C_U %>_<%= @UUS %> = gql`
    mutation <%= @c_u %><%= @CS %>(<%= @v1 %>) {
      <%= @c_u %><%= @CS %>(input: { <%= @v2 %> }) {
<%- if !@general_disable_query_generate -%>
        <%= 'new' + @CS + ':' if @iscreate%> <%= @cS %> {
          ...<%= @iscreate ? @CS + 'PreviewFragment' : @CS + 'ForEditingFragment'%>
        }
<%- end -%>
<%= @dataBlockServer1A.join() %>
        messages {
          field
          message
        }
      }
    }
    <%=
    "${fragments.#{@cS}}" if !@general_disable_query_generate
    %>
  `;
