<%= standard_imports({
'graphql'=>'',
'gql'=>'',
'inject'=>'',
}) %>

import { <%= @f + @CP %>Query } from 'queries/<%= @fD %>/<%= @UP %>/<%= @cP %>Query';

export default function (WrappedComponent) {
  const DESTROY_<%= @UUS %> = gql`
    mutation destroy<%= @CS %>($id: ID) {
      destroy<%= @CS %>(input: { id: $id }) {
        <%= @cS %> {
          id
        }
        messages {
          field
          message
        }
      }
    }
  `;

  const withDestroy<%= @CS %> = graphql(DESTROY_<%= @UUS %>, {
    props: ({ ownProps, mutate }) => ({
      destroy<%= @CS %>(<%= @cS%>ID, variables) {
        return mutate({
          variables: { id: <%= @cS%>ID },
          update: (store, { data: { destroy<%= @CS %> } }) => { //DataProxy, result
            if (!destroy<%= @CS %>.<%= @cS %>) return;
            const data = store.readQuery({ query: <%= @f + @CP %>Query, variables });
            if (!data.root.<%= @fD %><%= @CP %>) return;
            data.root.<%= @fD %><%= @CP %>.edges = data.root.<%= @fD %><%= @CP %>.edges.filter(o => o.node.id !== destroy<%= @CS %>.<%= @cS %>.id);
            data.root.<%= @fD + @CP %>Count -= 1;
            store.writeQuery({ query: <%= @f + @CP %>Query, variables, data });
          },
          refetchQueries: [{ query: <%= @f + @CP %>Query, variables }],
        })
      },
    }),
  });

  return inject('NotificationStore')(withDestroy<%= @CS %>(WrappedComponent));
}