<%= @noticeDoNotUseReactState %>
<%= standard_imports({
'React'=>'',
'pure'=>'',
'compose'=>'',
'lifecycle'=>'',
'withProps'=>'',
'inject'=>'',
'moment'=>'',
'withStyles'=>'',
'Button'=>'',

}) %>
<%
importData = []
importData <<  {module: "views/elements/loadingSpinner", import_modules: ["loadingSpinner"]}
importData <<  {module: "queries/#{@fD}/#{@UdP}/#{@cS}Query", import_modules: "with#{@CS}"}
importData <<  {module: "components/structures/buttons/PrintHelper", import_modules: "PrintHelper"}

%>
<%= import_modules_function(importData).join("\n") %>
<%= @importsBlockB.join() %>
class PrintComponent extends React.Component {
<%= @dataBlock1A.join() %>
  render() {
    return (
      <>
<%= @dataBlockJSX1A.join() %>
      </>
    )
  }
}
const <%= @CS %>Pure = (props) => {
  const { <%= "#{@fD + @CS}" %>: { loading }, <%= "#{@fD + @CS}" %>, route, router } = props;
  {loadingSpinner(loading)}
  return (
    <div style={{background: 'white'}}>
      <h2>{!loading ? <%= "#{@fD + @CS}" %>.root.<%= @fD + @CS %>.slug : null}</h2>
      <div>
        <span>
          Posted by: <em>................</em>
        </span>
        <span>
          {!loading ? moment(new Date(<%= "#{@fD + @CS}" %>.root.<%= @fD + @CS %>.created_at)).fromNow() : null}
        </span>
      <Button variant="raised" color="primary" onClick={router._history.goBack}>Back</Button>
      <PrintHelper print={<PrintComponent {...props}/>}/>
<%= @dataBlock5B.join() %>
      </div>
      <div>
        contents display here:
        <br/>
        ID : {!loading ? <%= "#{@fD + @CS}" %>.root.<%= @fD + @CS %>.id : null}
      </div>
    </div>
  );
}

export default compose(
  inject('router'),
  with<%= @CS %>
)(<%= @CS %>Pure);