<%
   @i=0
   @s=0
   @decimal=0
   @date=0
   @datetime=0
   @inet=0
   @bool=0
   @select=0
   @radio=0
   @import = []
 -%>
<% @v1 = editable_attributes.map { |a|
   n = +a.name
   n = name_change(n)
   n = column_change(@l, n)
#   c = column_change(@l, n)
   o = 'export class ' + n.camelize + ' extends React.Component {' + "\n"
   @import.push(n.camelize)
   o += '  render() {' + "\n"
   o += '    return (' + "\n"
   h = n.humanize
   h = 'Code' if h == 'Slug'
#   This File We not need label and placeholder.
   case a.type
      when 'integer' then
        if n.last(3) == '_id'
            @select = 1
            o += "      <Field name='" + n + "' component={S} parse={pI} {...this.props} />" + "\n"
        else
            @i = 1
            o += "      <Field name='" + n + "' component={I} parse={pI} " + "type='number' {...this.props} />" + "\n"
        end
      when 'string' then
        @s = 1
        o += "      <Field name='" + n + "' component={I} {...this.props} />" + "\n"
      when 'decimal' then
        @decimal = 1
        o += "      <Field name='" + n + "' component={D} parse={pF} {...this.props} />" + "\n"
      when 'text' then
        @s = 1
        o += "      <Field name='" + n + "' component={I} {...this.props} />" + "\n"
      when 'date' then
        @date = 1
        o += "      <Field name='" + n + "' type='date' component={RDate} {...this.props} />" + "\n"
      when 'datetime' then
        @datetime = 1
        o += "      <Field name='" + n + "' type='datetime' component={RDate} {...this.props} />" + "\n"
      when 'inet' then
        @inet = 1
        o += "      <Field name='" + n + "' component={I} {...this.props} />" + "\n"
      when 'boolean' then
        @boolean = 1
        o += "      <Field name='" + n + "' component={Sw} type='checkbox' {...this.props} />" + "\n"
    end
   o += '    );' + "\n"
   o += '  }' + "\n"
   o += '}' + "\n"
   }.join("\n") -%>
import * as React from 'react';
import { Field } from 'redux-form/immutable';

<% @import2 = ''
@import2 += "import I from '../RenderInput';\n" if @i == 1 || @s == 1 || @text == 1
@import2 += "import D from '../RenderNumber';\n" if @decimal == 1
@import2 += "import S from '../SimpleSelect';\n" if @select == 1
@import2 += "import RDate from '../../shared/CustomDatePicker/index';\n" if @date == 1 || @datetime == 1
@import2 += "import RRadio from '../RenderRadio';\n" if @radio == 1
@import2 += "import Sw from '../RenderSwitch';\n" if @boolean == 1
-%>
<%= @import2 %>
/* eslint jsx-quotes: 0, react/no-multi-comp: 0 */
<% if @i == 1 || @decimal == 1 || @select == 1
    a = ''
    b = ''
    t = ''
    a = 'parseint as pI' if @i == 1 || @select == 1
    b = 'parsefloat as pF' if @decimal == 1
    t = ', ' if b.length > 0
@p = "import { " +  a + t + b + " } from '../../../utils/libs';"
end
-%>
<%= @p %>

<%= @v1 %>
// import { <%= @import.join(", ") %> } from './<%= @CP %>Fields'; // eslint-disable-line no-unused-vars
