<% @v = ''
 @v = ' f_material_id: 0, f_gem_shape_id: 0, f_gem_clarity_id: 0 ' if @l == 'GemSize'
 @v = ' f_material_id: 0 ' if @l == 'GemClarity'
 @v = ' f_material_id: 0 ' if @l == 'MetalPurity'
 @v = ' f_material_id: 0 ' if @l == 'GemShape'
 @v = ' f_m_type_id: 0 ' if @l == 'Material'
 @v = ' f_company_id: 0 ' if @l == 'Locker'
 @v = ' f_a_type_id: 0 ' if @l == 'Account'
 @v = ' f_country_id: 0 ' if @l == 'State'
 -%>
<% @v1 = editable_attributes.map { |a|
   n = +a.name
   n = name_change(n)
   n = column_change(@l, n)
   a = "accessor: '" + n + "', "
   h = n.humanize
   h = 'Code' if h == 'Slug'
   h = 'SN#' if h == 'Position'
   h = 'Batch Name' if h == 'Code' && @l == 'Casting'
   k = ''
   if n.last(3) == '_id'
    k = ', Cell: (props) => (props.original.' + n + ' ? props.original.' + n + '.slug : undefined)'
    a = ''
   end
   '          { ' + a + "Header: '" + h + "'" + k + ' },'
    }.join("\n") -%>
import * as React from 'react';
// Import React Table
import ReactTable from 'react-table';
import 'react-table/react-table.css';
import <%= @CS %>Preview from './_<%= @CS %>Preview';

class List<%= @CP %> extends React.Component {
  state = {
    variables: {<%= @v %>},
  }
  render() {
    const {
      <%= @fD %><%= @CP %>,
      loading,
      error,
      // currentUser
    } = this.props.data;
    if (loading) {
      return <div>Loading</div>;
    }

    const data = this.props.<%= @UdP %>.toJS();

    return (
      <ReactTable
        data={data}
        defaultPageSize={10}
        className="-striped -highlight"
        columns={[
          { accessor: '<%= @CS %>Preview', Header: '-', Cell: (props) => <<%= @CS %>Preview <%= @cS %>Row={props.original} data={this.props.data} variables={this.state.variables} /> },
<%= @v1 %>
        ]}
      />
    );
  }
}

export default List<%= @CP %>;
