/* eslint-disable */
<%= @noticeDoNotUseReactState %>
<% instance_eval(File.open(File.expand_path("../../../commonForm.rb",File.dirname(__FILE__))).read)
-%>
<% @momentimport = 1 -%>
<%= standard_imports({
'validatorjs'=>'',
'observable'=>'',
'computed'=>'',
'action'=>'',
'extendObservable'=>'',
'whyRun'=>'',
'runInAction'=>'',
'observer'=>'',
'Observer'=>'',
}) %>

<%
mobxFormImport = 'forms/_.extend'
object = @yamlConfig[@name]
# mobxFormImport =  'forms/_.extendMTxnDetail' if object[k]['table'] == 'Sale::MTxnDetail'
mobxFormImport =  'forms/_.extendMTxnDetail' if do_loop_all_keys_find_sale_m_txn_detail(object) == 'Sale::MTxnDetail'

importData = []
importData <<  {module: mobxFormImport, import_modules: 'MyForm'} if @name != 'Mfg::MetalIssue'
importData <<  {module: 'forms/extension/dvr', import_modules: 'dvrExtend'}
importsFunctions = import_all_fetch_functions(@yamlConfig[@name],"", true, true, [], true)
importData <<  {module: './Helper/_FormFetchFunctions', import_modules: importsFunctions}
%>
<%= import_modules_function(importData).join("\n") %>
<%= "import * as moment from 'moment';" if @momentimport == 1 %><%= "\nimport {MyFormComputed as MyForm} from 'containers/generated/mfg/wax_settings/NewEdit/logic/_formFields';" if @name == 'Mfg::MetalIssue' %>
<%= @importsBlockA.join() %>
// Do not use constructor to set Fetching Function, onInit and onChange Function. Use Mobx Store for it.
<%= @todoBlockA.join() %>
// ==================Generator Start===========================
const customRules = {
  telephone: {
    function: (value) => value.match(/^\d{3}-\d{3}-\d{4}$/),
    message: 'The :attribute phone number is not in the format XXX-XXX-XXXX.',
  },
<%= @dataBlock0A.join() %>
};

const asynccustomRules = {
  checkUser: (value, attr, key, passes) => {
    const msg = `Hey! The username ${value} is already taken.`;
    // show error if the call does not returns entries
    // simulateAsyncFindUserCall({ user: value })
    //   .then(items => (items.length === 0) ? passes() : passes(false, msg));
  },
};

export class MyFormComputed extends MyForm {
// ==================Generator End===========================
// ==================Extend Form Mobx Store===========================
  constructor(abc) {
    super(abc);
<%= @dataBlock1C.join() %>
  }
<%= @dataBlock1A.join() %>
  @action.bound
  onSuccessForm = async (form) => {
    const values = form.values();
<%= @dataBlock1B.join() %>
    try {
      await this.successAction(values)
    } catch (errors) {
      if (errors) {
        form.set('error', errors);

        Object.keys(errors).forEach((v) => {
          form.$(v).invalidate(errors[v]);
        });
        // form.invalidate('This is a generic error message!');

      }
    }
  }
// ==================Write All The Functions Used in Hooks Here First (because we are in constructor)===========================
// Bug::: We can not Fetchdata on OnInit Hook. it Says apolloClient.query is not defined.
// but we can Fetchdata on nested fields, there it not says its not defined.
<%= @dataBlock2B.join() %>
  setup() {
  // Eventually, you can use set() into the onInit() hook of the Form Instance.
  // https://foxhound87.github.io/mobx-react-form/docs/events/event-hooks.html#execute-code-on-instance-init
  // you can use hooks on fields.
  // check for example: https://github.com/foxhound87/mobx-react-form/issues/303
    return {
      hooks: {
// ==================Generator End===========================
// ==================Initialise All Forms Hooks Here:===========================
// Like: 'field':{onInit(field) {field.observe({key: 'value',call: ({ form, field, change }) =>{}})}},
<%= @dataBlock3A.join() %>
      }
    }
  }
// ==================Generator Start===========================
// Hooke Events to pass in second argument { options, plugins, bindings, hooks });
// The onSubmit(e) will validate the form and will call respectively onSuccess(form) or onError(form) Validation Hooks if they are implemented.
// https://foxhound87.github.io/mobx-react-form/docs/events/event-handlers.html
  hooks() {
    return {
      // Override on Manual Submit ( https://foxhound87.github.io/mobx-react-form/
      // docs/events/validation-hooks/override.html )
      // onSuccess(form) & onError(form)
      // ...or as second argument to the onSubmit(e, { ... }) Event Handler:
      // I not override onError on FormControls.tsx submit button so use _formFields.tsx for it.
      onSuccess: (form) => {
        // alert('submitting....');
        // alert('Form is valid! Send the request here.');
        this.onSuccessForm(form);
      },
      onError: (form) => {
        alert('Form has errors!');
        // get all form errors
        console.log('All form errors', form.errors());
      }
    }
  }

  plugins() {
    return {
      dvr: {
        package: validatorjs,
        extend: ($validator) => {
          dvrExtend($validator);
          // here we can access the `validatorjs` instance and we
          // can add the rules using the `register()` method.
          // register async rules
          Object.keys(asynccustomRules).forEach(key =>
            $validator.registerAsyncRule(key, asynccustomRules[key]));
          // register sync rules
          Object.keys(customRules).forEach((key) =>
            $validator.register(key, customRules[key].function, customRules[key].message));
        }
      },
    };
  }

  options() {
    return {
      validateOnChange: true,
    };
  }

}

// Initialise and set Form to DevTools
export function initialiseForm(initialValues = false) {
  const formHash = {
    plugins: { dvr: validatorjs },
    options: {
    },
    fields: <%= pretty_json(do_loop_all_keys_return_fields(@yamlConfig[@name]), '      ').gsub(/\"/,"'") %>,

<% "    initials: " + pretty_json(@table.constantize.column_defaults.delete_if {|key, value| value == nil }, '      ').gsub(/\"/,"'") -%>
<%= "    initials: " + pretty_json(do_loop_all_keys_return_initials(@yamlConfig[@name]), '      ').gsub(/"moment\(\)/, "moment()").gsub(/\)"/, "\)")   %>,
    labels: <%= pretty_json(do_loop_all_keys_return_labels(@yamlConfig[@name]), '      ').gsub(/\"/,"'") %>,
    placeholders: <%= pretty_json({}, '      ').gsub(/\"/,"'") %>,
    types: <%= pretty_json(do_loop_all_keys_return_types(@yamlConfig[@name]), '      ').gsub(/\"/,"'") %>,
    disabled: <%= pretty_json(do_loop_all_keys_return_disabled(@yamlConfig[@name]), '      ').gsub(/\"/,"'") %>,
    bindings: <%= pretty_json({}) %>,
<%= @dataBlock2A.join() %>
<%= "    rules: " + pretty_json(do_loop_all_keys_return_rules(@yamlConfig[@name]), '      ').gsub(/\"/,"'") %>,
<%= "    input: " + pretty_json(do_loop_all_keys_return_inputs(@yamlConfig[@name]), '      ').gsub(/\"/,"'").gsub(/'value/, 'value').gsub(/,'/, '') %>,
<%= "    output: " + pretty_json(do_loop_all_keys_return_outputs(@yamlConfig[@name]), '      ').gsub(/\"/,"'").gsub(/'value/, 'value').gsub(/,'/, '') %>,
<% #Make for defaults: -%>
}

  let new<%= @CS %>Form;
  if (!initialValues) {
    new<%= @CS %>Form = new MyFormComputed({ ...formHash});
  } else {
    const values = initialValues;
    new<%= @CS %>Form = new MyFormComputed({ ...formHash, values});
  }
  // set DevTools  // Not working in fuse-box..
  // MobxReactFormDevTools.register({
  //    new<%= @CS %>Form
  // });
  // select form to show into the devtools  // Not working in fuse-box..
  // MobxReactFormDevTools.select('new<%= @CS %>Form');

  // open the devtools (closed by default)  // Not working in fuse-box..
  // MobxReactFormDevTools.open(true);
  return new<%= @CS %>Form;
}
