<%= @noticeDoNotUseReactState %>
<% instance_eval(File.open(File.expand_path("../../../commonForm.rb",File.dirname(__FILE__))).read) -%>
<%
    sub_object = @is_nested_form_object
    # Same code block from commonServer.rb file
    if sub_object.is_a?(Hash) && sub_object.key?('table_relationship_name')
      table_relationship_name = sub_object['table_relationship_name']
      table_first_UD = ''
      table_UdP = table_relationship_name.underscore.downcase.pluralize
      table_UDS = table_relationship_name
      # table_CS = table_relationship_name.singularize.camelize
      table_CS = sub_object['table'].demodulize.singularize.camelize
    else
      table_first_UD = sub_object['table'].deconstantize.underscore.downcase
      table_UdP = sub_object['table'].demodulize.underscore.downcase.pluralize
      table_UDS = sub_object['table'].demodulize.singularize.underscore.downcase
      table_CS = sub_object['table'].demodulize.singularize.camelize
    end
-%>
<% # @nested_column_grid = (editable_attributes(@is_nested_form_object.name)).zip( @yaml['nested_form']).map(&:compact)
  array_field = table_UdP
  # Must Run This Function to get Imports
  # fields = getFields(nested_column_with_extra, "    ", array_field, 130, false, "form", true){}
  fields = do_loop_all_keys_return_forms(@yamlObject, "    ", addMain=true, r=[], isTable=true, array_field)
-%>
<% fetchCallNested = get_import_component()-%>
<%
  form1 = "this.props.#{}#{table_UDS}"
  tableName = @is_nested_form_object['table']
  fetch_functions(tableName)
-%>
<% fetch_calls(@is_nested_form_object['table']) -%>
<%= standard_imports({
'React'=>'',
'pure'=>'',
'compose'=>'',
'lifecycle'=>'',
'withProps'=>'',
# 'inject'=>'',
'observer'=>'',
'Observer'=>'',
'Numeral'=>'',
}) %>
<%
importData = []
importData <<  {module: 'components/views/table/ReactTable/ReactTable', import_modules: 'ReactTable'}
importData <<  {module: 'components/views/table/ReactTable/ReactTablePivot', import_modules: 'ReactTablePivot'}
importData <<  {module: 'components/views/controls/FieldControls', import_modules: 'FieldControl'}
importData <<  {module: 'components/views/controls/FieldTableControls', import_modules: 'FieldTableControls'}

importData.concat(fetchCallNested)
# Not Need This Now...
# importData.concat(get_import_queries(@is_nested_form_object['table']))
%>
<%= import_modules_function(importData).join("\n") %>
<%= "import { LiveProvider, LiveEditor, LiveError, LivePreview } from 'react-live';" if @reactLiveDebugger%>
<% 
table = is_nested_form
import3 = if table 
            table_last_name = table.name.demodulize
            "import NestedAll#{}#{table_last_name.camelize.pluralize}Fieldset from 'components/structures/inputs/fieldsets/NestedAll#{}#{table_last_name.camelize.pluralize}Fieldset';\n"
          end
  # Starting Variables for functions. Function called only once.
  @nestedTablesComponent = []
  @importFormTables = []
  
def importFormTablesFunction(object, prefix = '', write = false)
   object.keys.each do |k| # Loop Through all keys
      next unless object[k].is_a?(Hash) && object[k].key?('table') && !object[k]['noGenerateTable']  # If table key not exist we not process it.
      table_CP = object[k]['table'].demodulize.camelize.pluralize
      prefix2 = "#{prefix}#{table_CP}"
      
      if @is_nested_form_object['table'] == object[k]['table']
        importFormTablesFunction(object[k]['nested'], prefix2, true) if object[k].key?('nested')
      end
      
      if write
        table_CP = object[k]['table'].demodulize.camelize.pluralize
        prefix2 = "#{prefix}#{table_CP}"
        @nestedTablesComponent << "FormTable#{prefix2}"
        @importFormTables << "import FormTable#{prefix2} from './_FormTable#{}#{prefix2}';"
      end
      
  @importFormTables
  end
end

  object = @yamlConfig[@name]
  importFormTablesFunction(object) if table 
 -%>
<%= @importFormTables.join("/n") %>
<%= @importsBlockA.join() %>
const Form = observer(({ form, parentField }) => {
// =============================Auto Generated Part=====================
  const <%= table_UdP %> = parentField.$('<%= table_UdP %>')
  // we should write all the table width otherwise the field whose width is not specified will auto expand.
  let formCoumnWidths = <%=  (@yamlObject['formCoumnWidths'] || {}).to_json %>
<%= @settingsBlockA.join() %>
  const columns=[
    { id: 'control1', Header: '', width: 40, Cell: (props) => (
        <div style={{width: 'max-content'}}>
          <span>
            <FieldControl
              field={<%= table_UdP %>.$(props.original)}
              labels={false}
              controls={{
                onDel: true,
              }}
            />
          </span>
        </div>)},
<%= fields.join("\n") %>
    { id: 'control2', Header: '', width: 40, Cell: (props) => (
        <div style={{width: 'max-content'}}>
          <span>
            <FieldControl
              field={<%= table_UdP %>.$(props.original)}
              labels={false}
              controls={{
                onDel: true,
                onClear: false,
                onReset: false,
              }}
            />
          </span>
        </div>)},
  ]
<%= @dataBlock1A.join() %>
  const aboveTable = () => {
<%= @dataBlock2B.join() %>
  }
  const belowTable = () => {
<%= @dataBlock2A.join() %>
  }
  return(
    <fieldset>
<%= """        <LiveProvider code='<strong>Hello World!</strong>' scope={{form, #{table_UdP}, columns, #{@namespaces.join(', ')}}}>
          <LiveEditor />
          <LiveError />
          <LivePreview />
        </LiveProvider>""" if @reactLiveDebugger %>
      <h5>
        {<%= table_UdP %>.label}
      </h5>
      {aboveTable()}
      <FieldTableControls
        field={<%= table_UdP %>}
        labels={false}
        // controls={{
        //   onDel: true,
        //   onClear: false,
        //   onReset: false,
        // }}
      />
      <ReactTable
        getTheadThProps={ (state, rowInfo, column, rtInstance) => { return { style: {background: 'aquamarine', fontSize: 'large'} } } }
        style={{background: 'bisque'}}
        data={<%= table_UdP %>.fields.keys()}
        columns={columns}
        pageSize= {<%= table_UdP %>.size}
// Extra ReactTable Parameters
<%= @dataBlock3A.join() %>
      />
        <div>
          <FieldControl
            field={<%= table_UdP %>}
            labels
            controls={{
              onAdd: true,
              //onClear: true,
              //onReset: true,
            }}
          />
        </div>
    {<%= table_UdP %>.fields.keys().length > 0 && 
      <fieldset>
      <div id = "parent" style={{display : 'flex'}}>
        {belowTable()}
<% fields.join("\n") -%>
      </div>
    </fieldset>
    }
  </fieldset>
  )
})

export default compose(
  pure,
)(Form);

<%= @dataBlock4A.join() %>
// Render Helper Functions
// Add i to function parameter.
<%= @functionComment %>
/*
<%= do_loop_all_keys_return_forms(@yamlObject, "    ", addMain=true, r=[], isTable=true, array_field, 'widthRow').join(",\n") %>
*/