/* eslint-disable */
<% instance_eval(File.open(File.expand_path("../../../commonForm.rb",File.dirname(__FILE__))).read) -%>
<% importFormTables = do_loop_all_import_nested_table_level1(@yamlConfig[@name]) -%>
<%
nested_fields = do_loop_all_nested_form_level1_output(@yamlConfig[@name])
-%>
<% # Must Run This Function to get Imports
# fields = getFields(@yamlConfig[@name], "                "){ nested_fields }
fields = do_loop_all_keys_return_forms(@yamlConfig[@name], "                "){ nested_fields }
-%>
<% importComponentMain = get_import_component()-%>

// Not working in fuse-box..
// import MobxReactFormDevTools from 'mobx-react-form-devtools';
<%= standard_imports({
'React'=>'',
'pure'=>'',
'compose'=>'',
'lifecycle'=>'',
'withProps'=>'',
# 'inject'=>'',
'Link'=>'',
'withStyles'=>'',
'observable'=>'',
'observer'=>'',
'Observer'=>'',
'withApollo'=>'',
'Button'=>'',
'Divider'=>'',
}) %>
<%
importData = []
importData <<  {module: 'components/views/table/ReactTable/ReactTable', import_modules: 'ReactTable'}
# importData <<  {module: 'components/structures/styled/styledDiv', import_modules: ['Div']}
importData <<  {module: 'components/views/json/JSONViewer/JSONViewer', import_modules: 'JsonViewer'}
importData <<  {module: 'components/views/controls/FormControls', import_modules: 'FormControls'}
importData <<  {module: 'views/elements/InfoTip', import_modules: 'InfoTip'}
importData <<  {module: 'utils/libs', import_modules: ["filterIDSet"]}
importData <<  {module: './_formFields', import_modules: ["initialiseForm"]}
importData.concat(importComponentMain)
importsFunctions = import_all_fetch_functions(@yamlConfig[@name],"", true, true, [], true)
importData <<  {module: './Helper/_FormFetchFunctions', import_modules: importsFunctions}
%>
<%= import_modules_function(importData).join("\n") %>
<%= "import { LiveProvider, LiveEditor, LiveError, LivePreview } from 'react-live';" if @reactLiveDebugger%>

<% fetchCallMain = fetch_calls(@name, "this.form") -%>
<%
  fetchCallNested = []
  fetchCallNested = fetch_calls(is_nested_form.name, "new#{@CS}Form") if is_nested_form
-%>
<%= importFormTables.join("\n") if importFormTables %>
<%
# table = is_nested_form
# state = "total#{table.name.demodulize.camelize.pluralize}State"
# totalMobxstate = if table
            # s = []
          #   s << ""
          #   s << "const #{state} = observable({"
          #   s << "})"
          #   s.join("\n")
          # end
-%>
<% # totalMobxstate -%>
<%= @importsBlockB.join() %>
// ==================Generator Start===========================
@observer
class Form extends React.Component {
@observable form = initialiseForm(this.props.initialValues)
<%= @dataBlock1A.join() %>
<%= fields.join("\n") %>
  public componentDidMount() {
    this.form.successAction = this.props.action;
    this.form.apolloClient = this.props.client;
    this.apolloClient = this.props.client;
<%= fetchCallMain.join("\n") %>
<% fetchCallNested.join("\n") -%>
// ==================Write Form Initial Data Loading Function Here===========================
  // if(this.props.initialValues) {
  //   form.set('value', this.props.initialValues)
  // }
<%= @dataBlock6A.join() %>
  }
<%= @dataBlock3A.join() %>
  render(){
  const form = this.form;
// ==================Generator End===========================
// ==================Write Render Helper Functions Here===========================
<%= @dataBlock4A.join() %>
  const belowTable = () => {
// ==================Write Below Table Render Function:-===========================
<%= @dataBlock5A.join() %>
  }
// ==================Generator Start===========================
<% # <MobxReactFormDevTools.UI /> -%>
  return(
    <>
<%= """      <LiveProvider code='<strong>Hello World!</strong>' scope={{form, #{@namespaces.join(', ')}}}>
        <LiveEditor />
        <LiveError />
        <LivePreview />
      </LiveProvider>""" if @reactLiveDebugger %>
      <form className='main-form'>
        <div>Entry Switching Panel</div>
        <fieldset>
          <ReactTable
            TheadComponent = { () => { return null; } }
            getTableProps={ (state, rowInfo, column, rtInstance) => { return { style: { overflow: 'unset' } } } }
            getTbodyProps={ (state, rowInfo, column, rtInstance) => { return { style: { overflow: 'unset' } } } }
            getTdProps={ (state, rowInfo, column, rtInstance) => { return { style: { overflow: 'unset' } } } }
            style={{background: 'bisque', width:<%= form_table_columns_array(@maximumColumns1, true) %>}}
            data={this.data1.toJS()}
            columns={<%= form_table_columns_array(@maximumColumns1).to_json%>}
            pageSize= {this.data1.length}
          />
          <Divider />
<%= @dataBlock5B.join() %>
<%= nested_fields.join("\n") unless @table_added %>
<%=
"""
          <ReactTable
            TheadComponent = { () => { return null; } }
            getTableProps={ (state, rowInfo, column, rtInstance) => { return { style: { overflow: 'unset' } } } }
            getTbodyProps={ (state, rowInfo, column, rtInstance) => { return { style: { overflow: 'unset' } } } }
            getTdProps={ (state, rowInfo, column, rtInstance) => { return { style: { overflow: 'unset' } } } }
            style={{background: 'bisque', width:#{form_table_columns_array(@maximumColumns2, true)}}}
            data={this.data2.toJS()}
            columns={#{form_table_columns_array(@maximumColumns2).to_json}}
            pageSize= {this.data2.length}
          />
""" if @yield_done
%>
          {belowTable()}
<%= form_control %>
        </fieldset>
      </form>
    </>
  )}
}

export default compose(
  withApollo,
  pure,
)(Form);
// Render Helper Functions
<%= @functionComment %>
// ==================Generator End===========================
