<%= @noticeDoNotUseReactState %>
import * as React from 'react';

const <%= @CS %>FormDataHOC = (InnerComponent) => class extends React.Component {
  state = {};
  hocFunction = () => {
    this.setState(() => ({ }));
  };

  render() {
    return (
      <InnerComponent
        {...this.props}
        {...this.state}
        fetch={this.hocFunction}
      />
    );
  }
};

export default <%= @CS %>FormDataHOC;

// import <%= @CS %>FormDataHOC from './<%= @CS %>FormDataHOC'
