<% instance_eval(File.open(File.expand_path("../../../../commonForm.rb",File.dirname(__FILE__))).read) -%>
<%
#  allQueries = mainQueries + nestedQueries    # For One Deep Table
allQueries = allQueriesFunctionFromFetchFunctions(@yamlConfig[@name])
# allQueries.uniq.join("\n")
-%>
<%= @dataBlock1A.join() %>
// ==================Generator Start===========================
<%= import_modules_function(allQueries.uniq).join("\n") %>

<%= @dataBlock2A.join() %>
//Auto Generated Function for Data Loading:
<%= import_all_fetch_functions(@yamlConfig[@name]).join("\n") %>