// ==================Generator Start===========================
// Some Function Names are not perfect. I have not time to fix it.
<% instance_eval(File.open(File.expand_path("../../../../commonForm.rb",File.dirname(__FILE__))).read) -%>
<% fieldsArray = editable_attributes.map{|m| column_change(@l, name_change(m.name) ) } -%>
<% 
  hooksObject = do_loop_all_keys_return_form_helper(@yamlConfig[@name])
  # hooksObject = {"position"=>{:onInit=>"castingPosition"}, "date"=>{:onInit=>"castingDate"}, "slug"=>{:onInit=>"castingSlug"}, ...
  hooks= []
  # puts hooksObject
  hooksObject.keys.each do |key|
    # puts hooksObject[key][:onInit]
    # hooks << """  '#{key}': { onInit: (field) => { this.#{hooksObject[key][:onInit]}OnInit(field) }, onChange: (field) => { this.#{hooksObject[key][:onInit]}OnChange(field) }, },"""
    hooks << """  '#{key}': {
    onChange: (field) => { this.#{hooksObject[key][:onInit]}OnChange(field) },},"""
  end
  # hooks= []
  # hooksObject.keys.each do |key|
  #   hooks << """  '#{key}':
  #       onInit(field) {
  #         #{hooksObject[key][:onInit]}OnInit(field)
  #         field.observe({
  #           key: 'value', // can be any field property
  #           call: ({ form, field, change }) =>{
  #             #{hooksObject[key][:onInit]}Observe(form, field, change)
  #           }, // set new value here
  #         });
  #       },
  #     },"""
  # end
  
  initfunctions= []
  hooksObject.keys.each do |key|
    initfunctions << """    @action.bound
    #{hooksObject[key][:onInit]}OnInit = (field) => {  }"""
  end
  
  # observerfunctions= []
  # hooksObject.keys.each do |key|
  #   observerfunctions << """
  #   const #{hooksObject[key][:onInit]}Observe = (form, field, change) => {
  #   }"""
  # end
  onchangefunctions= []
  hooksObject.keys.each do |key|
    onchangefunctions << """    @action.bound
    #{hooksObject[key][:onInit]}OnChange = (field) => { }"""
  end
-%>
<%

writeFunctions = []
totalCalculatedFunctions = 0
if @yamlConfig[@name].key?('calulated_functions')
  calcFunctionsArray = @yamlConfig[@name]['calulated_functions']
  totalCalculatedFunctions = calcFunctionsArray.length
  calcFunctionsArray.each do |f|
    writeFunctions << """  #{f['name']}(#{f['argument']}) {
    return computed(() => {
      console.log('Calc.Function: ', '#{f['name']}', 'Arguments: ', #{f['argument']})
      return 0;
    })
  }"""
  end
end
%>
/*
// ==================Hooks Setup:===========================
<%= hooks.join("\n")%>
// ==================Hooks OnInit Functions Not Needed:===========================
// onInit: (field) => {  },
<% initfunctions.join("\n")-%>
// ==================Hooks OnChange Functions:===========================
<%= onchangefunctions.join("\n")%>
// ==================Calculated Functions(Values)<%= totalCalculatedFunctions %>:===========================
<%= writeFunctions.join("\n")%>


*/