<% 
myHash = Hash.new(0)
editable_attributes.each{|m|
    myHash[m.name] = {"key": "value"} 
}
-%>

<%= {column_properties: myHash}.to_yaml %>

<%
myHash2 = Hash.new(0)
table = is_nested_form
if table 
#   table_last_name1 = table.name.demodulize.camelize.pluralize
#   table_last_name2 = table.name.demodulize.underscore.downcase.pluralize
  editable_attributes(table.name).each{|m|
    myHash2[m.name] = {"key": "value"} 
}
end
-%>
<%= {nested_column_properties: myHash2}.to_yaml %>
