<%= @noticeDoNotUseReactState %>
<%= standard_imports({
'React'=>'',
'pure'=>'',
'compose'=>'',
'lifecycle'=>'',
'observer'=>'',
'action'=>'',
'computed'=>'',
'withProps'=>'',
'inject'=>'',
'graphql'=>'',
'apollo-mutation-state'=>'',
'withStyles'=>'',
'Button'=>'',
}) %>
<%
importData = []
importData <<  {module: "views/elements/loadingSpinner", import_modules: ["loadingSpinner"]}
importData <<  {module: 'logic/_Form', import_modules: "#{@CS}Form"}
importData <<  {module: "queries/#{@fD}/#{@UdP}/#{@cS}ForEditingQuery", import_modules: "with#{@CS}ForEditing"}
importData <<  {module: "mutations/#{@fD}/#{@UdP}/update#{@CS}Mutation", import_modules: ["UPDATE_#{@UUS}"]}
importData <<  {module: "utils/libs", import_modules: ['flatIDValue', 'removeTypename']}
%>
<%= import_modules_function(importData).join("\n") %>

@observer
class Edit<%= @CS %> extends React.Component {
  public async action = (values: any) => {
    return new Promise(async (_, reject) => {
      const { data: { update<%= @CS %>: { errors } } } = await this.props.update<%= @CS %>(values);
      if (!errors) {
        this.props.NotificationStore.redirectAndMessage('/<%= @general_client_page_no_list_generate ?  '' : @dP%>', { notice: '<%= @CS %> was successfully <%= @iscreate ? 'created' : 'updated' %>' });
      } else {
        reject(errors);
      }
    });
  }

  render(){
  const { <%= @fD + @CS %>: { root, loading }, update<%= @CS %>, route, router } = this.props;

  if (loading) {
    return loadingSpinner(loading, 80, 5)
  }

  if (!root.<%= @fD + @CS %>) {
    return null;
  }

  const values = flatIDValue(removeTypename(root.<%= @fD + @CS %>));
  // const edit<%= @cS %>Form = new MyForm({ ...<%= @cS %>Form, values });
  // MobxReactFormDevTools.register({ edit<%= @cS %>Form });
  // MobxReactFormDevTools.select('edit<%= @cS %>Form');


  return (
    <div>
      <Button variant="raised" color="primary" onClick={router._history.goBack}>Back</Button>
      <h1 style={{fontSize: 'larger'}}>Editing <%= @CS %></h1>
      <<%= @CS %>Form initialValues={values} action={this.action} submitName="Update <%= @CS %>" mutation={this.props.mutation}/>
    </div>
  )}
}

const withUpdate<%= @CS %> = graphql(UPDATE_<%= @UUS %>, {
  props: ({ mutate, ownProps: { wrapMutate } }) => ({
    update<%= @CS %>(<%= @cS%>) {
      return wrapMutate(mutate!({ variables: { ...<%= @cS%> } }));
    }
  }),
  options: { errorPolicy: 'all' },
}),

export default compose(
  inject('router'),
  inject('NotificationStore'),
<%= @dataBlock6A.join() %>
  with<%= @CS %>ForEditing,
  withMutationState({ wrapper: true, propagateError: true }),
  withUpdate<%= @CS %>,
)(Edit<%= @CS %>);