<%= @noticeDoNotUseReactState %>
<%= standard_imports({
  'React'=>'',
  'pure'=>'',
  'compose'=>'',
  'lifecycle'=>'',
  'observer'=>'',
  'action'=>'',
  'computed'=>'',
  'withProps'=>'',
  'inject'=>'',
  'graphql'=>'',
  'apollo-mutation-state'=>'',
  'withStyles'=>'',
  'Button'=>'',
}) %>
<%
  importData = []
  importData <<  {module: 'logic/_Form', import_modules: "#{@CS}Form"}
  importData <<  {module: "mutations/#{@fD}/#{@UdP}/create#{@CS}Mutation", import_modules: ["CREATE_#{@UUS}"]}
  # importData <<  {module: "utils/libs", import_modules: ['flatIDValue', 'removeTypename']}

  @client_pages_new_page_custom_action = @yamlConfig[@config].dig 'client', 'pages', 'new_page', 'custom_action'
%>
<%= import_modules_function(importData).join("\n") %>
<%= @importsBlockA.join() %>

// const new<%= @CS %>Form = new MyForm({ ...<%= @cS%>Form });
// MobxReactFormDevTools.register({ new<%= @CS %>Form });
// MobxReactFormDevTools.select('new<%= @CS %>Form');
// MobxReactFormDevTools.open(true);

@observer
class New<%= @CS %> extends React.Component {
<%= @dataBlock1A.join() %>
  public async action = (values: any) => {
    return new Promise(async (_, reject) => {
<%- if !@client_pages_new_page_custom_action -%>
      const { data: { create<%= @CS %>: { errors } } } = await this.props.create<%= @CS %>(values);
      if (!errors) {
<%= @dataBlock2A.join() %>
        this.props.NotificationStore.redirectAndMessage('/<%= @general_client_page_no_list_generate ?  '' : @dP%>', { notice: '<%= @CS %> was successfully <%= @iscreate ? 'created' : 'updated' %>' });
      } else {
<%= @dataBlock2B.join() %>
        reject(errors);
      }
<%- else -%>
<%= @dataBlock2A.join() %>
<%- end -%>
    });
  }
<%= @dataBlock3A.join() %>
  render(){
  const { create<%= @CS %>, route, router } = this.props;

  return (
    <div>
      <Button variant="raised" color="primary" onClick={router._history.goBack}>Back</Button>
      <h1 style={{fontSize: 'larger'}}>New <%= @CS %></h1>
      <<%= @CS %>Form action={this.action} submitName="Create <%= @CS %>" mutation={this.props.mutation}/>
    </div>
  )}
}

const withCreate<%= @CS %> = graphql(CREATE_<%= @UUS %>, {
  props: ({ mutate, ownProps: { wrapMutate } }) => ({
    create<%= @CS %>(<%= @cS%>) {
      return wrapMutate(
        mutate!({
          variables: { ...<%= @cS%> },
          // update: (store, { data: { create<%= @CS %>: { new<%= @cS%> } } }) => {
            // // Read the data from our cache for this query.
            // const data = proxy.readQuery({ query: <%= @f + @CP %>Query, variables });
            // // Add our todo from the mutation to the end.
            // data.<%= @fD %><%= @CP %>.push(create<%= @CS %>);
            // // Write our data back to the cache.
            // proxy.writeQuery({ query: <%= @f + @CP %>Query, variables, data });

            // if (!new<%= @cS%>) return;
            // const data = store.readQuery({ query: <%= @f + @CP %>Query, variables }) as <%= @CP %>Query;
            // if (!data.posts) return;

            // data.posts.unshift(newPost);
            // data.postsCount += 1;
            // store.writeQuery({ query: POSTS, data });
            // }
        })
      );
    },
  }),
  options: { errorPolicy: 'all' },
});

export default compose(
  inject('router'),
  inject('NotificationStore'),
<%= @dataBlock6A.join() %>
  withMutationState({ wrapper: true, propagateError: true })
  withCreate<%= @CS %>,
)(New<%= @CS %>);